In [70]:
import numpy as np

In [ ]:
def MBGD(X_train, y_train, epochs):
    n_sample, n_feature = X_train.shape
    w = np.zeros(n_feature)
    b, lr = 0, 0.01
    for _ in range(epochs):
        indicies = np.random.choice(len(X_train), size=5, replace=False)
        X_sample, y_sample = X_train[indicies], y_train[indicies]
        y_pred = np.dot(X_sample, w) + b

        dw = 1 / len(X_sample) * np.dot(np.transpose(X_sample), (y_pred - y_sample))
        db = 1 / len(X_sample) * np.sum(y_pred - y_sample)
        w -= lr * dw
        b -= lr * db

    return w, b

In [72]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/codebasics/deep-learning-keras-tf-tutorial/refs/heads/master/8_sgd_vs_gd/homeprices_banglore.csv')

In [73]:
df

    area  bedrooms   price
0   1056         2   39.07
1   2600         4  120.00
2   1440         3   62.00
3   1521         3   75.00
4   1200         2   51.00
5   1170         2   38.00
6   2732         4  135.00
7   3300         4  155.00
8   1310         3   50.00
9   3700         5  167.00
10  1800         3   82.00
11  2785         4  140.00
12  1000         2   38.00
13  1100         2   40.00
14  2250         3  101.00
15  1175         2   42.00
16  1180         3   48.00
17  1540         3   60.00
18  2770         3  102.00
19   800         1   32.00

In [74]:
X=df.drop(columns='price')
y=df['price']

In [75]:
from sklearn.preprocessing import MinMaxScaler
st = MinMaxScaler()
X_scaled = st.fit_transform(X)
y_scaled = st.fit_transform(y.to_frame())
y_scaled = y_scaled.reshape(-1)

In [77]:
w,b=GD(X_scaled,y_scaled,5)

In [78]:
w

array([0.01006434, 0.0111877 ])

In [79]:
b

np.float64(0.01802329922053978)