In [99]:
import numpy as np

In [100]:
class LogisticRegression:
    def __init__(self, lr=0.001, n_iter=1000):
        self.lr = lr
        self.n_iter = n_iter
        self.weight = None
        self.bias = None

    def fit(self, X, y):
        n_samples, n_feature = X.shape
        self.weight = np.zeros(n_feature)
        self.bias = 0
        for _ in range(self.n_iter):
            Linear = np.dot(X, self.weight) + self.bias
            y_pred = self.sigmoid(Linear)
            dw = (1 / n_samples) * np.dot(X.T, (y_pred - y))
            db = (1 / n_samples) * np.sum((y_pred - y))
            self.weight -= self.lr * dw
            self.bias -= self.lr * db

    def sigmoid(self, x):
        return 1 / (1 + np.exp(-x))

    def predict(self, X):
        Linear = np.dot(X, self.weight) + self.bias
        y_pred = self.sigmoid(Linear)
        return [1 if i > 0.5 else 0 for i in y_pred]

#### test my model

In [101]:
import pandas as pd

In [102]:
df=pd.read_csv('Social_Network_Ads.csv')

In [103]:
df.shape

(400, 5)

In [104]:
df.sample(10)

      User ID  Gender  Age  EstimatedSalary  Purchased
172  15794661  Female   26           118000          0
202  15735549  Female   39           134000          1
297  15705298  Female   43           112000          1
148  15779862    Male   29            61000          0
174  15644296  Female   34            72000          0
73   15782530  Female   33           113000          0
245  15722061  Female   51           146000          1
329  15639576  Female   47           107000          1
100  15766289    Male   27            88000          0
195  15667742    Male   34            43000          0

In [105]:
df.drop(columns=['User ID'],inplace=True)

In [106]:
df['Gender']=df['Gender'].map({'Male':1,'Female':0})

In [107]:
X=df.drop(columns=['Purchased'])
y=df['Purchased']

In [108]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
X_scaled=scale.fit_transform(X)
X=pd.DataFrame(X_scaled,columns=X.columns)

In [109]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
model=LogisticRegression(lr=0.01,n_iter=7000)
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [115]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_pred)
accuracy

0.8875